$font-color: #fff;
$main-color: tomato;

.gallery-button {
  min-width: 100px;
  min-height: 30px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: $font-color;
  background-color: $main-color;
  &:hover {
    transform: scale(1.05);
  }
}
