*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: helvetica;
  font-size: 100%;
  background: #ffd194;
}

h1,
h2,
h3,
p {
  margin: 0;
}
