$black: #222;

.gallery-container {
  padding: 0.9375rem 0;
}
.gallery-container h1 {
  margin: 2rem 0;
  padding: 0;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 6.5vw;
  font-weight: lighter;
}
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  img {
    width: 100%;
    border: 5px solid #fff;
  }
}
.gallery-grid div {
  position: relative;
  cursor: pointer;
  &:before,
  &:after {
    transition: 0.3s opacity ease;
    opacity: 0;
  }
  &:hover {
    &:before,
    &:after {
      opacity: 1;
      transition: 0.3s opacity ease;
    }
  }
}

.button-block {
  display: flex;
  justify-content: space-between;
}
