$black: #222;

.gallery-container {
  padding: 0.9375rem 0;
}

.gallery-container h1 {
  margin: 2rem 0;
  padding: 0;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 6.5vw;
  font-weight: lighter;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  img {
    width: 100%;
    border: 5px solid #fff;
  }
}

.gallery-grid div {
  position: relative;
}

.album {
  position: relative;
  display: flex;
  padding: 24px 26px;
  width: 100%;
  height: 300px;
  flex-direction: column;
  overflow: hidden;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: inherit;
    background: linear-gradient(
      179.83deg,
      rgba(196, 196, 196, 0) 35.34%,
      #0a223d 99.85%
    );
  }
}

.cover-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-fit: cover;
}

.album-info {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: 18px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  z-index: 2;
}

.button-block {
  display: flex;
  justify-content: space-between;
  z-index: 2;
}
